{% load jformat %}
{% for post in l_post %}
    <article class="bg-[#151f32] rounded-xl overflow-hidden border border-slate-800/60 flex flex-col justify-between transition-all duration-300 neon-glow group">
        <a href="{{ post.get_absolute_url }}">
            <div class="w-full h-44 overflow-hidden bg-slate-950 relative">
                <img src="{{ post.images.first.image_file.url }}" alt="{{ post.images.first }}" class="w-full h-full object-cover group-hover:scale-105 transition duration-500 opacity-80 group-hover:opacity-100" />
                <span class="absolute top-3 right-3 bg-lime-500 text-darkbg font-bold text-[11px] px-2 py-1 rounded shadow">{{ post.category }}</span>
            </div>
        </a>

        <!-- بخش اصلی محتوای کارت با flex-col و justify-between -->
        <div class="p-5 flex-grow flex flex-col justify-between">

            <!-- ۱. بخش بالایی (زمان، تیتر و متن) -->
            <div>
                <div class="flex items-center gap-2 text-xs text-slate-400 mb-2">
                    <span>{{ post.study }} دقیقه مطالعه</span>
                </div>
                <h3 class="text-base font-bold text-white mb-2 group-hover:text-lime-400 transition-colors"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                <p class="text-slate-400 text-xs leading-relaxed line-clamp-2">{{ post.description|truncatewords:10 }}</p>
            </div>

            <!-- ۲. بخش پایینی (تگ‌ها همیشه می‌چسبند به پایین) -->
            <div class="flex flex-wrap gap-1.5 mt-4">
                {% for tag in post.tags.all %}
                    <a href="{% url "blog:post_list_tag" tag_slug=tag.slug %}" class="text-[10px] text-lime-400/80 bg-lime-500/10 hover:bg-lime-500/20 px-2 py-0.5 rounded transition">
                        #{{ tag.name }}
                    </a>
                {% endfor %}


            </div>

        </div>

        <!-- فوتر کارت -->
        <div class="px-5 py-3 bg-[#111827]/50 border-t border-slate-800/50 flex items-center justify-between text-xs text-slate-400">
            <span><span>نویسنده: {{ post.author }}</span></span>
            <!-- نمایش تعداد لایک‌ها -->
            <div class="flex items-center gap-1 text-slate-400">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-3.5 h-3.5 text-lime-400">
                    <path d="M11.645 20.91l-.007-.003-.022-.012a15.247 15.247 0 01-.383-.218 25.18 25.18 0 01-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0112 5.052 5.5 5.5 0 0116.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 01-4.244 3.17 15.247 15.247 0 01-.383.219l-.022.012-.007.004-.003.001a.752.752 0 01-.704 0l-.003-.001z" />
                </svg>
                <span>{{ post.total_likes }}</span>
            </div>
            <span>{{ post.publish|jformat:'%H:%M - %Y/%m/%d' }}</span>
        </div>
    </article>
{% endfor %}