<div class="bg-[#0b0f19] border border-slate-800/80 p-3 rounded-xl text-center">
    <span class="block text-base font-bold text-white">{{ total_post }}</span>
    <span class="text-[10px] text-slate-500 mt-0.5 block">مقاله منتشر شده</span>
</div>
<div class="bg-[#0b0f19] border border-slate-800/80 p-3 rounded-xl text-center">
    <span class="block text-base font-bold text-lime-400">{{ user.t__study }}</span>
    <span class="text-[10px] text-slate-500 mt-0.5 block">دقیقه زمان مطالعه</span>
</div>