{% extends 'parent/base.html' %}
{% block title %}
    فراموشی رمز
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300;400;700&display=swap');
        body {
            font-family: 'Vazirmatn', sans-serif;
            background-color: #05070f;
        }
        .neon-border-focus:focus {
            box-shadow: 0 0 10px rgba(163, 230, 53, 0.3);
            border-color: #a3e635;
        }
        .neon-shadow-lime {
            box-shadow: 0 0 15px rgba(163, 230, 53, 0.15);
        }
    </style>
{% endblock %}


{% block body %}
    <form  method="post" class="space-y-4 max-w-sm">
        {% csrf_token %}
        <div>
            <label class="block text-xs text-slate-400 mb-1.5 font-medium">ایمیل</label>
            <input name="email" type="email" class="w-full bg-[#05070f] border border-slate-800 rounded-lg px-3 py-2.5 text-xs text-white outline-none neon-border-focus transition" />
            {% for error in form.email.errors %}
                <p class="text-red-500 text-xs mt-1">{{ error }}</p>
            {% endfor %}
        </div>

        <button type="submit"  class="bg-lime-500 hover:bg-lime-600 text-slate-950 font-bold px-6 py-2 rounded-lg text-xs transition active:scale-[0.98]">ارسال لینک بازیابی رمز</button>
    </form>
{% endblock %}
